<p id="notice"><%= notice %></p>

<h3>Message</h3>
<p>
  <strong>Name:</strong>
  <%= @message.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @message.email %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @message.subject %>
</p>

<p>
  <strong>Contect:</strong>
  <%= @message.contect %>
</p>

<p>
  <strong>Reply:</strong>
  <%= @message.reply %>
</p>


<h3>Reply by sending email</h3>
<%= form_for "/messages/"+@message.id.to_s do %>
  
<div class="row">
  <div class="col-md-6 ">
    
    <%= text_area_tag :reply,'', class: 'form-control'%>
    <div style="margin-left:0px;width:25%;" class="col-md-6">
     <%= button_to 'Reply', "/messages/"+@message.id.to_s, method: :post, class: "btn btn-primary" %>
    </div>
      
  </div>
</div>


<% end %>


<br />

<%= link_to 'Back', messages_path %>
