<%= form_for ([@need.organization, @need]) , html: { multipart: true } do |f| %>


  <% if @need.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@need.errors.count, "error") %> prohibited this need from being saved:</h2>

      <ul>
      <% @need.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h1>Cache from Home</h1>
<h3 style="text-align:center;">Please fill the form to contact you easily<h3>
        <div class="row">
        	<div class="col-md-6 col-md-offset-3">
          <% counter = @need.payments.count%>
                <%= f.fields_for :payments do |payment| %>
                    <% if counter == 0 %>
                    <p>

                      <%= payment.label :user_name, "Name: *" %>
                      <%= payment.text_field :user_name , class: 'form-control' %>

                      <%= payment.label :user_number, "Phone Number: *" %>
                      <%= payment.text_field :user_number , class: 'form-control' %>

                       <%= payment.label :user_address, "Address: *" %>
                      <%= payment.text_field :user_address , class: 'form-control' %>


                      <%= payment.label :donated_money, "Donation amount of money(LE): *" %>
                      <%= payment.number_field :donated_money ,class: 'form-control'  %>

                      <%= payment.label :comment, "Comment about the need:" %>
                      <%= payment.text_field :comment , class: 'form-control' %>

                      <%= payment.text_field :need_name  ,type:"hidden", class: 'form-control' %>

                      <%= payment.number_field :org_id  ,type:"hidden",class: 'form-control'  %>

                      <%= payment.number_field :user_id ,type:"hidden",class: 'form-control'  %>

                      <%= payment.text_field :is_recieved  ,type:"hidden", class: 'form-control' %>
                       

                    </p>
                    <%else%>
                    <% counter-=1%>
                  <%end%>

                <% end %>
          </div>
          </div>
          <div class="submit">
            <%= f.submit "Finish", class: "btn btn-primary" %>
          </div>

<% end %>
