<p id="notice"><%= notice %></p>



<p>
  <h3><strong>Title: here</strong> <%= @need.title %></h3>
</p>

<p>
  <h4><strong>Organization:</strong> <%= link_to @need.organization.org_name , @need.organization   %></h4>
</p>

<p>
  <strong>Description:</strong>
  <%= @need.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @need.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @need.end_date %>
</p>

<p>
  <strong>In progress:</strong>
  <%= @need.in_progress %>
</p>

<p>
  <strong>Money:</strong>
  <%= @need.money %>
</p>

<p>
  <strong>Urgent rate:</strong>
  <%= @need.urgent_rate %>
</p>

<p>
  <strong>Donated money:</strong>
   <%= @need.donated_money %>
</p>



<p>

  <% if donor_logged_in? %>
  <%= link_to 'Donate' , organization_need_donation_path( @need.organization , @need)%>
<%end%>
</p>


<p>
  <% if @need.in_progress==true %>
  <strong style="color:blue;">"In Progress"</strong>
  <% else %>
  <strong style="color:green;">"Done"</strong>
  <%end%>
</p>



<%  if @need.need_images.present? %>
<h4>List of Images</h4>
<% @need.need_images.each do |image| %>
  <p>
    <%= image_tag  image.photo.url(:medium)%>
  </p>
<%end%>
<% end %>
<% if current_organization?(@need.organization) %>
  <h1><%= link_to 'Payments', organization_need_needPayments_path(need_id: @need.id) %> </h1>
  <%= link_to 'Edit', organization_needs_path+"/"+@need.id.to_s+"/edit" %>  |
  <%= link_to 'Delete',organization_needs_path+"/"+@need.id.to_s ,method: :delete , data: { confirm: 'Are you sure?' } %></td> |
<%end%>

 <%= link_to 'Back', organization_needs_path %>
