<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(user) do |f| %>
      <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


        <%= f.label :user_name %>
        <%= f.text_field :user_name , class: 'form-control'%>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation , :autocomplete => 'off', class: 'form-control'%>

        <% if current_user %>
          <% if current_user.avatar? %>
            <%= image_tag(current_user.avatar.url, :size => "200x200", :crop => :fill) %>
            <br />

            <%= f.label :remove_avatar  do %>
                <label>Remove Image:<%= f.check_box :remove_avatar %></label>
            <% end %>
          <% end %>

          <label>Upload Profile Picture
            <%= f.file_field :avatar, class: 'form-control' %>
          </label>
          <%= f.hidden_field :avatar_cache %>
          <%= f.submit 'Save' , class: "btn btn-primary" %>
        <% else %>
          <div class="field">
            <%= f.label :avatar do %>
              <label>Upload Profile Picture
                <%= f.file_field :avatar, class: 'form-control' %>
              </label>
              <%= f.hidden_field :avatar_cache %>
            <% end %>
          </div>
          <%= f.submit 'Done' , class: "btn btn-primary" %>
        <% end %>

    <% end %>
    <% if ! current_user %>
  <p style="text-align:center;">Have an account? <%= link_to "Sign in !", donor_login_path %></p>
  <% end %>
  </div>
</div>
