<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <% if @user.avatar? %>
  <p>
    <strong>Image:</strong><br />
      <%= image_tag @user.avatar.url, :size => "200x200", :crop => :fill %>
  </p>
<% end %>
  <br><br>
  <h1>
<%= link_to 'My payments', user_showPayment_path(user_id: @user.id) %><br>
<%= link_to 'My Kheir', user_myKheir_path(user_id: @user.id) %>

</h1>
</p>


<% if admin_logged_in? && !@user.isAdmin%>
  <h1><%= link_to 'Delete Profile', @user, method: :delete, data: { confirm: 'Are you sure?' } %></h1>
<% end %>


</div>
